.main__bg {
  animation: slide 3s ease-in-out infinite alternate;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  opacity: 0.5;
  z-index: -1;
}

.layer1 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.layer2 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/* ::selection {
  background: #7a5eec;
  color: white;
} */

.newcursor,
.newcursor2,
.newcursor3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  z-index: 0;
}

.newcursor3 {
  animation: moving 3s ease-in-out infinite;
}

.myimage {
  /* border-radius: 63% 37% 69% 31% / 47% 59% 41% 53%;
  animation: moving 3s ease-in-out infinite; */
  border-radius: 100%;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.myimageParent {
  position: relative;
  display: inline-block;
}

.myimageParent::after,
.myimageParent::before {
  content: "";
  position: absolute;
  width: 104%;
  height: 104%;
  transform: translate(-50%, -50%);
  background-image: conic-gradient(
    from var(--angle),
    #76c1fb,
    #b388f3,
    #76c1fb
  );
  border-radius: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  /* border-radius: 50%;
  z-index: 100;
  display: block; */
}

.myimageParent::before,
.myimageParent::after {
  animation: moveBorder 3s linear infinite;
}

@keyframes moveBorder {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.myimageParent::after {
  filter: blur(20px);
  animation: moving 3s ease-in-out infinite;
}

@keyframes moving {
  0% {
    border-radius: 81% 19% 89% 11% / 19% 85% 15% 81%;
  }

  50% {
    border-radius: 23% 77% 22% 78% / 78% 18% 82% 22%;
  }

  100% {
    border-radius: 81% 19% 89% 11% / 19% 85% 15% 81%;
  }
}

/* Add this to your CSS file or inside a <style> tag in your component */

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* Card Styling */

:root {
  --card-color: rgb(25, 25, 25);
  --gradient: linear-gradient(
    -45deg,
    transparent 5%,
    rgb(126, 248, 218) 50%,
    transparent 99%
  );
  --shadow: rgb(126, 248, 218);
}

[data-clr="dark"] {
  --card-color: rgb(25, 25, 25);
  --gradient: linear-gradient(
    -45deg,
    transparent 5%,
    rgb(126, 248, 218) 50%,
    transparent 99%
  );
  --shadow: rgb(126, 248, 218);
}

[data-clr="light"] {
  --card-color: rgb(240, 240, 240);
  --gradient: linear-gradient(
    -45deg,
    transparent 5%,
    rgb(0, 69, 126) 50%,
    transparent 99%
  );
  --shadow: rgb(0, 69, 126);
}

.card {
  background-color: var(--card-color);
  border-radius: 46px;
  cursor: pointer;
  position: relative;
  height: 24rem;
  width: 20rem;
}

.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: grid;
  inset: 0.5px;
  padding: 1em;
  position: absolute;
}

.card:before {
  background: var(--gradient);
  border-radius: inherit;
  content: "";
  inset: -0.1px;
  position: absolute;
  transition: opacity 400ms;
  z-index: 0;
  height: 24.15rem;
  width: 20.15rem;
}

.shadow-card-skills {
  box-shadow: 0px 18px 182.5px -60px var(--shadow);
}

.animate-line {
  animation: widthHr 2s forwards 2ms 1 ease-in-out;
}

.animate-line-back {
  animation: widthHrReverse 2s forwards 2ms 1 ease-in-out;
  position: absolute;
  right: 0;
}

@keyframes widthHrReverse {
  0% {
    width: 0;
    right: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}

@keyframes widthHr {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
